/* 修改 Hero 标题样式 */
.vp-blog-hero-title {
  font-family: "Ma Shan Zheng", cursive;
  font-weight: 200;
  font-size: 10rem !important;
  font-style: normal;
}
.vp-blog-hero-description {
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  font-style: normal;
}